.login-page {
    padding-left: 0;
    max-width: 360px;
    margin: 5% auto;
    overflow-x: hidden;
}

.login-page .login-box .msg {
    color: #555;
    margin-bottom: 30px;
    text-align: center;
}


.login-page .login-box .logo {
    margin-bottom: 20px;
}

.login-page .login-box .logo img {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.login-page .login-box .logo a {
    font-size: 36px;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
}

.login-page .login-box .logo small {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: -5px;
}

.login-page .login-box .center {
    align: center;
}