.navbar-nav {
    flex-direction: row;
}

.nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}


#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    height: 100%;   
    background-color: #333;
    padding: 0;
}


.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}


#sidebar-container .list-group a {
    height: 50px;
    color: white;
}


#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}


.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}


#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f0da";
    display: inline;  
    text-align: right;  
    padding-left: 10px;
}

#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    font-family: "Font Awesome 5 Free";  
    font-weight: 900; 
    content: "\f0d7";  
    display: inline;  
    text-align: right;  
    padding-left: 10px;
}


.right_col {
    padding: 10px !important
}